button,input,select,textarea
{
  font-family: Tahoma, Arial, sans-serif;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  vertical-align: middle;
  font-family: sans-serif;
  color: #333;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background-repeat: no-repeat;
  background-position: 7px 5px;
  display: block;
  padding-left: 30px !important;
  width: 250px;
  background-color: #fff;
  border: solid 1px silver;
  padding: 0 5px;
  outline: none;
  height:28px;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Tahoma, Arial, sans-serif;
}
