.footer {
    width: 100%;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    border-top: 1px solid #fff;
    color: #fff;
    font-size: 11px;
    background: #979696;
}
.footer ul li {
    float: left;
    margin-right: 10px;
}